<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>

<div class="navigationBar">
  <a class="navigationEntry" href="/">Home</a>
  {{#unless session}}
  <a class="navigationEntry" href="log-In">Login</a>
  <a class="navigationEntry" href="sign-Up">Sign Up</a>
  {{/unless}}
  {{#if session}}
  <a class="navigationEntry" href="">Profile</a>
  <a class="navigationEntry" href="upload">+ Upload</a>
  <form action="/logout" method="post">
  <button type="submit">Log-Out</button>
  </form>
  {{/if}}
</div>

  {{{body}}}

</body>
</html>