<div>
<h2>Log in with your email address</h2>

  <form action="/log-in" method="post">
  <div class="settingsFlex">
<label for="inp" class="inp">
      <input type="text" id="inp" name="email" placeholder="&nbsp;">
      <span class="label">E-Mail</span>
      <span class="border"></span>
    </label>

    <label for="inp" class="inp">
      <input type="password" id="inp" name="password" placeholder="&nbsp;">
      <span class="label">Password</span>
      <span class="border"></span>
    </label>
  <button class="btn" id="saveChanges" type="submit">Login</button>
  </div>
  <a class="link" href="/">Back to Index Page</a>
</form>
{{#if errorMessage}}
<div class="error-message">{{ errorMessage }}</div>
{{/if}}