<body>
  <form action="/settings" method="post">
  <div class="settingsFlex">
    <h2>Account Settings</h2>
    <label for="inp" class="inp">
      <input type="text" id="inp" placeholder="&nbsp;" value="{{this.username}}">
      <span class="label">Username</span>
      <span class="border"></span>
    </label>

    <label for="inp" class="inp">
      <input type="text" id="inp" placeholder="&nbsp;" value="{{this.email}}">
      <span class="label">EMail</span>
      <span class="border"></span>
    </label>
  <button class="btn" id="saveChanges" type="submit">Save Changes</button>
  </div>
  <a class="link" href="/">Return</a>
</form>
{{#if errorMessage}}
<div class="error-message">{{ errorMessage }}</div>
{{/if}}
</body>


