<div>
  <h2>Account</h2>





<form action="/settings" method="post">
  <label for="">Username</label>
  <input type="text" name="username" value="{{this.username}}">

    <label for="">Email</label>
  <input type="text" name="email" value="{{this.email}}">
  <p>Email will not be displayed publicly</p>

  <button class="btn" type="submit">Save Changes</button>
</form>


<a class = "link" href="/">Return</a>


{{#if errorMessage}}
<div class="error-message">{{ errorMessage }}</div>
{{/if}}
</div>