<div>
<h2>Become a member</h2>

  <form action="/sign-up" method="post">
  <div class="settingsFlex">
<label for="inp" class="inp">
      <input type="text" id="inp" name="username" placeholder="&nbsp;">
      <span class="label">Username</span>
      <span class="border"></span>
    </label>

<label for="inp" class="inp">
      <input type="text" id="inp" name="email" placeholder="&nbsp;">
      <span class="label">Email Address</span>
      <span class="border"></span>
    </label>

    <label for="inp" class="inp">
      <input type="password" id="inp" name="password" placeholder="&nbsp;">
      <span class="label">Password</span>
      <span class="border"></span>
    </label>
  <button class="btn" id="saveChanges" type="submit">Sign Up</button>
  </div>
  <a class="link" href="/">Back to Index Page</a>
</form>

{{#if errorMessage}}
<div class="error-message">{{ errorMessage }}</div>
{{/if}}