<div>
<h2>Become a member</h2>

<form action="/sign-Up" method="post">
  <label for="">Username</label>
  <input type="text" name="username">

    <label for="">Email Address</label>
  <input type="text" name="email">

  <label for="">Password:</label>
  <input type="password" name="password">

  <button class="btn" type="submit">Sign Up</button>
</form>


 <a class="link" href="/">Return</a>


{{#if errorMessage}}
<div class="error-message">{{ errorMessage }}</div>
{{/if}}
</div>