<body>

    <form id="frmUploader" action="/upload" method="post">
        <h1>Create your own post!</h1>

        <h2>Enter your title here</h2>
        <label for="inp" class="inp">
        <input type="text" id="inp" name="postTitle" />
        </label>

        <h2>Select an URL</h2>
        <label for="inp" class="inp">
        <input type="text" id="inp" name="urlUpload">
        </label>

        <h2>Any Tag you would like to add?</h2>
        <label for="inp" class="inp">
        <input type="text" id="inp" name="postTag" />
        </label>

        <div>
            <button class="btn" id="createPost" type="submit">Create Post</button>
        </div>
    </form>
</body>