<body>

    <form id="frmUploader" action="/upload" method="post">
        <h1>Create your own post!</h1>

        <h2>Enter your title here</h2>
        <input type="text" name="postTitle"/>

        <h2>Select an URL</h2>
        <input type="text" name="urlUpload">

        <h2>Any Tag you would like to add?</h2>
        <input type="text" name="postTag"/>

        <div>
            <button class="btn" id="createPost" type="submit">Create Post</button>
        </div>
    </form>
</body>