
h3{
    margin: 1px;
    margin-top: 35px;
}

h2 {
    color: #09f;
    font-size: 2rem;
}

.btn{
    color: #fff;
    background-color: #09f;
    padding: 0.4rem 0.8rem;
    height: 1.4rem;
    border: none;
    border-radius: 0.1rem;
    font: 14px/20px -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    -webkit-appearance: none;
    box-sizing: content-box;
}

.btn-post, .btn-post-clicked{
    border: none;
    background-color: #fff;
    color:  rgb(180, 179, 179);
}

.btn-post-clicked {
    color: #09f;
}

.btn-post:hover{
    color:  rgb(41, 41, 48);
}

.link{
    color: #09f;
    text-decoration: none;
}

.settings{
    padding: 1rem;
    font-size: 2rem;
}

.settingsFlex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.superContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navigationBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(41, 41, 48);
    padding: 1rem;
}

.navigationEntry, .btn-logout {
    box-shadow: none;
    padding: 0.5rem;
    padding-left: 1.5rem;
    font-size: 1.6rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    background-color: rgb(41, 41, 48);
    border: none;
    color: white;

}

.btn-logout:hover, .navigationEntry:hover {
    color: rgb(180, 179, 179)
}

#container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#createPost {
    margin: 1rem 0;
}

.navigationBarProfile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 0.6rem;
    font-size: 1.6rem;
}

.navigationEntryProfile {
    padding: 0.5rem;
    text-decoration: none;
    color: rgb(180, 179, 179);
}

.navigationEntryProfile:hover {
    color:  rgb(41, 41, 48);
    border-color: rgb(41, 41, 48);
}

.profileContent{
    display: flex;
    justify-content: center;
}

.postDescription{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 2rem;
    color: black;
    font-weight: bold;
}

.picLink, .fakeLink {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.fakeLink {
    width: 600px;
}

.postImage {
    width: 100%;
    border: 0;
}

.postProperties{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.vote {
    height: 5%;
    width: 5%;
    padding: 0.5rem;
    margin: 1rem;

}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
#saveChanges {
    padding: 0.3rem;
    margin:0.3rem;
}

body {
    display: grid;
    font-family: Avenir;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}


.inp {
    box-sizing: border-box;
    position: relative;
    margin: 2rem 0;
    width: 100%;
    max-width: 40rem;
}
  .inp .label {
    position: absolute;
    top: 2rem;
    left: 0;
    font-size: 16px;
    color: #9098a9;
    font-weight: 500;
    transform-origin: 0 0;
    transition: all 0.2s ease;
  }
  .inp .border {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #07f;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all 0.15s ease;
  }
  .inp input {
    -webkit-appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 1rem 0;
    height: 1rem;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid #c8ccd4;
    background: none;
    border-radius: 0;
    color: #223254;
    transition: all 0.15s ease;
  }
  .inp input:hover {
    background: rgba(34,50,84,0.03);
  }
  .inp input:not(:placeholder-shown) + span {
    color: #5a667f;
    transform: translateY(-26px) scale(0.75);
  }
  .inp input:focus {
    background: none;
    outline: none;
  }
  .inp input:focus + span {
    color: #07f;
    transform: translateY(-26px) scale(0.75);
  }
  .inp input:focus + span + .border {
    transform: scaleX(1);
  }

  .settingsFlex {
      display: flex;
      flex-direction: column;
  }

  .commentList {
    border: 5px solid #1C6EA4;
    border-radius: 0px 40px 40px 40px;
    text-align: center; 
  }