<h1>Please select your File</h1>
<body>
    <form id="frmUploader" enctype="multipart/form-data" action="upload/" method="post">
        <input type="file" name="imgUploader" multiple />
        <input type="submit" name="submit" id="btnSubmit" value="upload" /> </form>
</body>